/* font-family: 'Press Start 2P', cursive; */
/* font-family: 'Bree Serif', serif; */
/* font-family: 'Coda', cursive; */

:root {
  --screen-color: #1c1d1f;
  --font-color: #00f014;
  --font-style: "Bree Serif", sans-serif;
  --font-size: 22px;
  --line-height-editor: 1.8;
  --font-size-alert: 36px;
  --line-height-alert: 1.4;
  /* --font-style: "Press Start 2P", sans-serif; */
}

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
}

body {
  height: 120vh;
  background: rgb(42, 17, 7);
  background: radial-gradient(
      circle,
      rgba(42, 17, 7, 0.842) 0%,
      rgba(228, 216, 199, 1) 100%
    ),
    radial-gradient(circle, var(--font-color) 35%, rgba(255, 255, 255, 0) 65%);
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.2s linear transform;
}

.main-header {
  margin-top: 40px;
  text-align: center;
  font-family: "Bree Serif";
  font-size: 60px;
  color: var(--font-color);
}

@media (max-width: 769px) {
  .container {
    transform: scale(0.5);
  }
}

@media (max-width: 420px) {
  .container {
    transform: scale(0.5);
  }
}

.inputs-color-container {
  position: absolute;
  font-size: 30px;
  top: 375px;
  left: 0px;
}

.screen-label::before {
  content: url("img/desktop-solid.svg");
  filter: drop-shadow(0 0 3px var(--screen-color));
}
.font-label::before {
  content: url("img/font-solid.svg");
  filter: drop-shadow(0 0 3px var(--font-color));
}
.screen-label::before,
.font-label::before {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
}
.screen-label::after {
  content: "Zmień kolor:";
  position: absolute;
  top: -25px;
  left: 0px;
  font-size: 18px;
  text-align: center;
  font-family: var(--font-style);
}

.editor-container {
  position: relative;
  margin-top: 140px;
  width: 450px;
  height: 306px;
}

.screen-color-filter {
  position: absolute;
  width: 450px;
  height: 330px;
  transform: scale(0.9);
  filter: blur(8px);
  border-radius: 20px;
  background-color: var(--screen-color);
  mix-blend-mode: multiply;
}

.editor-container::before {
  content: url(img/comp-apple-2.png);
  top: -110px;
  left: -201px;
  transform-origin: left top;
  transform: scale(0.9);
  position: absolute;
  z-index: -1;
}

.button-style:focus {
  outline: transparent;
}

.save-button {
  position: absolute;
  width: 40px;
  height: 50px;
  top: 600px;
  left: 485px;
  padding: 15px 0px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.load-button {
  position: absolute;
  top: 570px;
  width: 30px;
  height: 30px;
  left: -90px;
  padding: 8px 0px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.clear-button {
  position: absolute;
  top: 677px;
  left: 731px;
  width: 80px;
  transform: rotate(10deg) skew(-48deg);
  height: 30px;
  padding: 8px 0px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.clear-button-spacebar {
  position: absolute;
  top: 668px;
  left: 39px;
  width: 327px;
  transform: rotate(1deg) skew(0);
  height: 38px;
  padding: 8px 0px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.reset-button {
  position: absolute;
  top: 599px;
  left: 94px;
  width: 38px;
  transform: rotate(1deg) skew(0);
  height: 32px;
  padding: 8px 0px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.editor-textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  resize: none;

  outline: transparent;
  background-color: transparent;
  border: transparent;
  margin: 10px 0px;
  padding: 35px;

  font-size: var(--font-size);
  font-weight: normal;
  line-height: var(--line-height-editor);
  font-family: var(--font-style);
  color: var(--font-color);
  text-shadow: 0 0 5px rgb(0, 0, 0), 0 0 2px rgb(0, 0, 0), 0 0 3px rgb(0, 0, 0),
    0 0 5px var(--font-color), 0 0 5px var(--font-color);

  z-index: 1;
}

.red-alert--js {
  padding-top: 45px;
  line-height: var(--line-height-alert);
  text-align: center;
  font-size: var(--font-size-alert);
  color: red;
  text-shadow: 0 0 1px rgb(0, 0, 0), 0 0 1px rgb(0, 0, 0), 0 0 1px rgb(3, 3, 3);
}

.do-not-save--js {
  /* class added in js */
}
